:root{
    --primary: #1888ff;
}
 
.btnLogin {
    background-color: transparent;
    border: 1px solid #ffffff;
    padding: 0.5rem;
    font-size: 0.8rem;
    font-weight: 600;
    margin-right: 1em;
    width: 8em;
    border-radius: 1rem;
    color: #ffffff;
    cursor: pointer; 

   }
  
   .btnLogin:hover:not(:disabled) {
    color: #FF8269;
    background-color: white;
   }

.btnSign {
    background-color: #ffffff;
    border: none;
    padding: 0.5rem;
    font-size: 0.8rem;
    font-weight: 600;
    margin-right: 1.5em;
    margin-left: 1em;
    width: 8em;
    border-radius: 1rem;
    color: #FF8269;
    cursor: pointer; 
   }
   
   
   .btnSign:hover:not(:disabled) {
    background: transparent;
    border: 1px solid #ffffff;
    color: white;
   }
  
   
   
