    .navbar {
       background: #FF8269;
       height: 70px;
       display: flex;
       justify-content: center;
       align-items: center;
       font-size: 1.2rem;
     }

     .navBar-logo {
       color: #ffff;
       justify-self: start;
       margin-left: 20px;
       cursor: pointer;
       text-decoration: none;
       font-size: 2rem;
       font-weight: 700;
     }

     /* .fa-firstdraft {
       margin-left: 0.5rem;
       font-size: 1.6rem;
     } */

     .nav-menu {
       display: grid;
       grid-template-columns: repeat(5, auto);
       grid-gap: 10px;
       list-style: none;
       text-align: center;
       width: 70vw;
       justify-content: end;
       margin-right: 1rem;
     }

     .nav-item {
       display: flex;
       align-items: center;
       height: 80px;
     }

     .nav-links {
       color: #ffffff;
       text-decoration:none;
       margin-left:  1.5rem;
       font-weight: 700;
       font-size: 0.8rem;
     }

    .nav-links:hover {
        color: #ededed;
        border-bottom: 2px solid #ededed;
        transition: all 0.2s ease-out;
        transform: translateY(-1px);
    }

    .nav-links:active {
        transform: translateY(0);
        color: #ffffff;
    }
  
  
    .fa-bars {
        color: #ffffff;
    }

    .nav-links-mobileLogin {
        display: none;
    }
    .nav-links-mobileSignup {
        display: none;
    }
    .menu-icon {
        display:none;
    }

  /* -----------MEDIA --------------- */
@media screen and (max-width: 960px) {
    .NavbarItems {
        position:relative;
    }
  
    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: calc(100vh);
        position: absolute;
        top: 70px;
        left: -100%;
        opacity: 1;
        transition: all 1s ease;
    }
  
    .nav-menu.active {
        background: #FF8269;
        justify-content: start;
        left: 0;
        opacity: 1;
        max-height: 100vh;
        transition: all 1s ease;
        z-index: 1;
    }


    .nav-links {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left:  0rem;
        font-weight: 800;
        font-size: 1em;
        margin-top: 2rem;
        color:#ffffff
    }
  
    .nav-links:hover {
        color: #ffffffe0;
        padding: 1rem;
        border-radius: 0;
        border-bottom: none;
        transition: all 0.2s ease-out;
        transform: translateY(-1px);
    }
    
    .nav-links:active {
        transform: translateY(0);
        color: #ffffff;
    }
   

    .navBar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }
  
    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 50%);
        font-size: 1.8rem;
        cursor: pointer;
    }
  
    .fa-times {
        color: #ffffff;
        font-size: 2rem;
    }
    .fa-times:hover {
        color: #ffffffe0;
        transform: translateY(0px);
    }

    .fa-times:active {
        color: #ffffff;
        transform: translateY(1px);
    }
 
    .nav-links-mobileLogin {
        display: block;
        text-align: center;
        padding: 1rem;
        margin: 1rem auto;
        border-radius: 3rem;
        border: 2px solid #ffffff;
        width: 50%;
        background: #FF8269;
        text-decoration: none;
        color: #fff;
        font-size: 1rem;
        font-weight: 800;
    }
  
    .nav-links-mobileLogin:hover {
        background: #ff8269;
        color: #ffffffe0;
        transition: 0.2s;
        transform: translateY(-1px);

    }

    .nav-links-mobileLogin:active{
        color: #ffffffec;
        background-color: #ff826992;
        transform: translateY(0.5px);
    }
    
    .nav-links-mobileSignup {
        display: block;
        text-align: center;
        padding: 1rem;
        margin: 2rem auto;
        border-radius: 3rem;
        width: 50%;
        background: #ffffff;
        text-decoration: none;
        color: #FF8269;
        font-size: 1rem;
        font-weight: 800;
    }
  
    .nav-links-mobileSignup:hover {
        background: #ffffffec;
        color: #FF8269;
        border: 1px solid transparent;
        border-top: none;
        border-bottom: none;
        transition: 0.2s;
        transform: translateY(-1px);
    }

    .nav-links-mobileSignup:active {
        background-color: #ffffff;
        color:#ff8269;
        transform: translateY(0.5px);
    }

    .btnLogin {
        display: none;
    } 

    .btnSign {
        display: none;
    } 

  } 